{{#description}}
    /**
     * {{{description}}}
     */
{{/description}}
    @SerialName(value = "{{{vendorExtensions.x-base-name-literal}}}")
    {{#deprecated}}
    @Deprecated(message = "This property is deprecated.")
    {{/deprecated}}
    {{#isInherited}}override {{/isInherited}}{{>modelMutable}} {{{name}}}: {{#isEnum}}{{#isArray}}kotlin.collections.List<{{classname}}.{{{nameInCamelCase}}}>{{/isArray}}{{^isArray}}{{classname}}.{{{nameInCamelCase}}}{{/isArray}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}? = {{#defaultvalue}}{{defaultvalue}}{{/defaultvalue}}{{^defaultvalue}}null{{/defaultvalue}}